python list program

In [3]:
# 1-inter chnage the firs and last one elements
l=[1,3,34,4,5,5,6,66,56]
def interchange(lis1):
    '''this function is use to inter change the all values first one to 
    last one by the help of the function this function use the lis data stacture '''
    size=len(lis1) # find the list lenght by the help of the len function
    temp=lis1[0]
    lis1[0]=lis1[size-1]
    lis1[size-1]=temp
    return lis1

In [8]:
interchange(l)

[1, 3, 34, 4, 5, 5, 6, 66, 56]

In [6]:
# 1-a- by the hepl we can inter change the value 
def ss2(ll):
    ll[0],ll[-1]=ll[-1],ll[0]
    return ll

In [1]:
tex=("The normal distribution is a symmetric probability focused on the mean. This means that data close to the mean occur more frequently than data far from it")

def count_words(tex):
    b = tex.replace(" ","")     
    return(b)

b = count_words(tex)
print("Total no. of words are:", (len(b)))

Total no. of words are: 131

In [9]:
ss2(l)

[56, 3, 34, 4, 5, 5, 6, 66, 1]

In [11]:
a = [1,3,4,5,6,6,7,88,8,7,65,4,33,2]

even = []
odd = []

for i in a:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)

# print(f'Even number list {even},odd number list {odd}')
print('Even number list ',even)
print('odd number list', odd)

Even number list  [4, 6, 6, 88, 8, 4, 2]
odd number list [1, 3, 5, 7, 7, 65, 33]

Python | Reversing a List

In [12]:
reverse=l[::-1]
reverse

[1, 66, 6, 5, 5, 4, 34, 3, 56]

Python program to find sum of elements in list

In [14]:
s=0
for i in l:
    s=s+i
print('sum of the list',s)

sum of the list 180

Python program to find second largest number in a list

In [16]:
# find the second max number by the help of the define function
mm=max(l[0],l[1])
sec_m=min(l[0],l[1])
for i in range(2,len(l)):
    if l[i]>mm:
        sec_m=mm
        mm=l[i]
    elif l[i]>mm and mm!=l[i]:
        sec_m=l[i]
    elif l[i]!=sec_m and mm==sec_m:
        sec_m=l[i]
print('second highest number is :',sec_m)

second highest number is : 56

In [1]:
list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
def seco_max(list1):

# Removing duplicates from the list
    list2 = list(set(list1))
 
# Sorting the  list
    list2.sort()
    return list2[-2]
# Printing the second last element

In [4]:
seco_max(l)

56

Python program to find N largest elements from a list

In [37]:
def n_largest(ll):
    n=int(input('Enter the number find the largset in the list :'))
    if n<len(ll):
        ll.sort()
        return ll[-n:]

In [38]:
n_largest(l)

[56, 66]

In [41]:
def n_min(ll):
    n=int(input('Enter the number find the largset in the list :'))
    if n<len(ll):
        ll.sort()
        return ll[:n]

In [42]:
n_min(l)

[1, 3]

In [56]:
def odd_even(ll):
    n=input('Enter the OD for odd and EV for even :')
    if n.lower()=="od":
        return [i for i in l if i%2!=0]
    elif n.lower()=="ev":
        return [i for i in l if i%2==0]
    else:
        print('invalide input.. try again')

In [57]:
odd_even(l)

[1, 3, 5, 5]

# This program is design to filter the data from the list

In [59]:
def remove_emp_str_dup(l1):
  '''This function provides a filter list according to the user,
    here we filter the list according to the user. 
    It offers many filter options'''
  
  t1=input('''
  Enter the comand for remove in your list :-
  for empty list EMP:-
  for string STR    :-
  for duplicat DP   :-''')
  r=[]
#   Here we remove the empty list from the list 
  if 'emp'==t1.lower():
    for i in l1:
      if i ==[]:
        continue
      else:
        r.append(i)
    # print( 'without Empty list \n',r)
    return r
  # here we remove the str in the given list 
  elif 'str'==t1.lower():
    for i in l1:
      if type(i)==type('str'):
        continue
      else:
        r.append(i)
    return r
    # print( 'without string element list\n',r)
# here we remove the duplicate value from the list by chosing the dp comand
  elif 'dp'==t1.lower():
    for i in l1:
      if i not in r:
        r.append(i)
    return r
    # print( 'without duplicate element list\n',)
  # elif 'dp'==t1.lower():
  else:
    print('Sorry inptut is invalid  Try again !')
  # return r

Break a list into chunks of size N in Python

In [60]:
l1=[11,2,3.8,3,4,5,5,6.5,7,7,88,'dffdg',6,'55',5.43,3,1]
remove_emp_str_dup(l1)

[11, 2, 3, 4, 5, 6, 7, [], 88, 'dffdg', 55, 543, 1]

In [9]:
l=[i for i in range(1,21)]

In [33]:
import random
inp=int(input('input two digit number :'))

c=0
if len(str(inp))==2 or int()==type(inp):
    while True:
        ra = random.randint(10, 99)
        if inp==ra:
            print('your code is ',inp)
            break
        else:
            c+=1
            # print(ra)
    print('total iteration is ',c)
else:
    print('Invelid input.. Try again')

ValueError: invalid literal for int() with base 10: 'srr'

In [35]:
import random

inp = input('Input a two-digit number: ')

# Check if the input is a valid two-digit number
if inp.isdigit() and 10 <= int(inp) <= 99:
    inp = int(inp)
    c = 0

    while True:
        ra = random.randint(10, 99)
        if inp == ra:
            print('Your guess is correct! The number is', inp)
            break
        else:
            c += 1
            # Optionally, you can print the generated random number for debugging
            # print(ra)

    print('Total iterations:', c)
else:
    print('Invalid input. Please enter a valid two-digit number.')

Invalid input. Please enter a valid two-digit number.

Break a list into chunks of size N in Python

In [61]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
start = 0
end = len(my_list) 
step = 3
for i in range(start, end, step): 
    x = i 
    print(my_list[x:x+step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

# Python program to find Cumulative sum of a list
The problem statement asks to produce a new list whose i^{th} element will be equal to the sum of the (i + 1) elements.

In [62]:
def cumulative_sume(ll):
    cu_l=[]
    s=0
    for i in ll:
        s=s+i
        cu_l.append(s)

    return cu_l

In [63]:
lists = [10, 20, 30, 40, 50] 
cumulative_sume(lists)

[10, 30, 60, 100, 150]

Sort the values of first list using second list in Python

In [68]:
def sort_list(ll,ll1):
    '''this function sort the list on the basis of the other list 
    '''
    zipper=zip(ll1,ll)
    z=[x for _,x in sorted(zipper)]
    return z

In [65]:
x = ["a", "b", "c", "d", "e", "f", "g", "h", "i"]
y = [0,   1,   1,    0,   1,   2,   2,   0,   1]
sort_list(x,y)

['a', 'd', 'h', 'b', 'c', 'e', 'i', 'f', 'g']

In [66]:
x = ["g", "e", "e", "k", "s", "f", "o", "r", "g", "e", "e", "k", "s"]
y = [0,   1,   1,    0,   1,   2,   2,   0,   1]

Convert a list into a tuple without Using builtin function

In [5]:
def convert_list_to_tuple(lst):
    tu = ()  # Empty tuple to store the converted elements
    for i in lst:
        tu += (i,)  # Append each element to the tuple
    return tu

In [8]:
name='Simaran Kalasi'
s=""
for  i in name:
    if i=="K":
        continue
    else:
       s=s+i
print(s)

Simaran alasi

In [9]:
list = [1,2,3,4,5,6]
tuple = ()
for i in list:
    tuple += (i,)
print(tuple)

(1, 2, 3, 4, 5, 6)

In [6]:
convert_list_to_tuple(l)

(1, 3, 34, 4, 5, 5, 6, 66, 56)

Python Program to Convert a List to String

In [75]:
def list_to_str(s):
    '''this function only work with 
    string  list'''
    st=''
    for i in s:
        st=st+i
    return st

In [77]:
s = ['Geeks', 'for', 'Geeks']

list_to_str(s)

'GeeksforGeeks'

In [78]:
def list_to_str2(s):
    listToStr = ' '.join(map(str, s))
    return listToStr

In [2]:
def list_from_str2(s):
    listToStr = ' '.join(map(list, s))
    return listToStr

In [3]:
list_from_str2('Ashwani kumar')

TypeError: sequence item 0: expected str instance, list found

convert string to list

In [4]:
# Example: Split string into a list using a specific delimiter (comma in this case)
csv_string = "apple,orange,banana"
list_from_csv = csv_string.split(',')
print("List from CSV string:", list_from_csv)
# Output: ['apple', 'orange', 'banana']

List from CSV string: ['apple', 'orange', 'banana']

In [79]:
s = ['I', 'want', 4, 'apples', 'and', 18, 'bananas']
 

list_to_str2(s)

'I want 4 apples and 18 bananas'

In [14]:
s = ['1', '2', '3', '4','5']
listToStr =','.join(map(str, s))
print((listToStr))
type(listToStr)

1,2,3,4,5

str

In [13]:
s = ['1', '2', '3', '4','5']
listToStr =list(map(int, s))
print(listToStr)

[1, 2, 3, 4, 5]

how to merge two list into a single list

In [90]:
li=[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

Python | Get unique values from a list

In [91]:
dl=[]
for i in range(len(li)):
    if li[i] not in dl:
        dl.append(li[i])
print(dl)

[1, 2, 3, 4, 5]

In [8]:
tex=("The normal distribution is a symmetric probability focused on the mean. This means that data close to the mean occur more frequently than data far from it")
l=tex.split(' ')
len(l)

24

In [6]:
l

['The',
 'normal',
 'distribution',
 'is',
 'a',
 'symmetric',
 'probability',
 'focused',
 'on',
 'the',
 'mean.',
 'This',
 'means',
 'that',
 'data',
 'close',
 'to',
 'the',
 'mean',
 'occur',
 'more',
 'frequently',
 'than',
 'data\xa0far\xa0from\xa0it']